<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>오늘의 운동</h2>
<form action="/exercise/detail" method="post" enctype="multipart/form-data">
    <input type="text" id="id" name="id" th:value="${exercise.id}" readonly>
    <input type="text" id="content" name="content" th:value="${exercise.content}">
    <br>
    <input type="text" id="writer" name="writer" th:value="${exercise.writer}">
    <input type="file" name="document" value="파일 등록">
    <img th:if="${exercise.filename != null}" th:src="@{/image/{filename}(filename=${exercise.filename})}" alt="Image" width="100px" height="100px">
    <input type="submit" value="수정">
    <p>
    <p>
    <p>
</form>

<div id="output"></div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const idValue = document.getElementById('id').value;
    axios.get('http://localhost:8080/api/ex/detail/' + idValue)
        .then(function (response) {
            const responseData = response.data.id; // 데이터 가져오기

            //가져온 데이터 값을 원하는 곳에 뿌려주기
            const outputDiv = document.getElementById("output");
            outputDiv.innerText = responseData;

            //(개발자도구) 콘솔에 찍기
            console.log(response);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .finally(function () {
            // always executed
        });
</script>

</body>
</html>