<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>홈으로</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">들어온 친구 신청</a>
            </div>
        </div>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <img src="/img/코리락쿠마.png" class="w3-circle" style="height:23px;width:23px" alt="프로필 사진">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">기본정보</h4>
                    <p class="w3-center"><img src="/img/cake.png"  class="w3-circle" style="height:95px;width:95px" alt="프로필"></p>
                    <hr>
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> 백엔드 개발자 및 DBA</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> 인천광역시</p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 2000. 2. 19.</p>
                </div>
            </div>
            <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>기술 스택</p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">JAVA</span>
                        <span class="w3-tag w3-small w3-theme-d4">MySQL</span>
                        <span class="w3-tag w3-small w3-theme-d3">ORACLE</span>
                        <span class="w3-tag w3-small w3-theme-d2">MariaDB</span>
                        <span class="w3-tag w3-small w3-theme-d1">Docker</span>
                        <span class="w3-tag w3-small w3-theme">Linux</span>
                        <span class="w3-tag w3-small w3-theme-l1">SpringBoot</span>
                        <span class="w3-tag w3-small w3-theme-l2">HTML</span>
                    </p>
                </div>
            </div>
            <br>

            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p><strong>안녕하세요!</strong></p>
                <p>Java와 Spring boot를 주력으로 다루는 꾸준한 개발자, 김지현입니다.</p>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">커리어를 추가하세요.</h6>
                            <p contenteditable="true" class="w3-border w3-padding">이곳에 작성하기</p>
                            <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  등록</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="/img/rc.png" alt="Avatar" class="w3-left  w3-margin-right" style="width:80px">
                <span class="w3-right w3-opacity">작성한 날짜</span>
                <h4>이력서 보러가는 곳</h4><br>
                <hr class="w3-clear">
                <p>노션으로 작성된 이력서를 열람하실 수 있습니다. PDF 파일로 변경 가능합니다.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="goToLink()">
                    <i class="fa fa-thumbs-up"></i> 보러가는 곳
                </button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity">작성한 날짜</span>
                <h4>프로젝트 1 제목</h4><br>
                <hr class="w3-clear">
                <p>여기에 만든 프로젝트 이력 추가하기.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  좋아요</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  댓글</button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin" id="resume-pdf"><br>
                <button type="button" class="w3-button w3-theme-d3 w3-margin-bottom" id="convert-to-pdf">PDF로 변환</button>
                <span class="w3-right w3-opacity">작성한 날짜</span>
                <h4>프로젝트 2 제목</h4><br>
                <hr class="w3-clear">
                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                <h1>이력서</h1>

                <form action="/sample" method="post">
                <div class="section">

                    <div class="section-header">개인 정보</div>
                    <p><strong>이름:</strong> <input type="text" id="name" name="name" th:value="${persnal.name}"/></p>
                    <p><strong>연락처:</strong> <input type="text" id="phone" name="phone" th:value="${persnal.phone}"/></p></p>
                    <p><strong>이메일:</strong> <input type="text" id="email" name="email" th:value="${persnal.email}"/></p></p>
                    <p><strong>주소:</strong> <input type="text" id="address" name="address" th:value="${persnal.address}"/></p></p>
                     <input type="submit" value="저장">

                </div>
                </form>

                <div class="section">
                    <div class="section-header">학력</div>
                    <p><strong>[학위]</strong> - [학교], [전공], [졸업 연도]</p>
                    <!-- 추가 학력 정보를 위해 위의 줄을 복사하여 붙여넣을 수 있습니다. -->
                </div>

                <div class="section">
                    <div class="section-header">자격증</div>
                    <p><strong>[직위]</strong> - [회사], [근무 기간]</p>
                    <p>[업무 내용 및 업적]</p>
                    <!-- 추가 경력 정보를 위해 위의 줄을 복사하여 붙여넣을 수 있습니다. -->
                </div>

                <div class="section">
                    <div class="section-header">기술 스킬</div>
                    <ul>
                        <li>[기술 스킬 1]</li>
                        <li>[기술 스킬 2]</li>
                        <li>[기술 스킬 3]</li>
                        <!-- 추가 기술 스킬을 위해 위의 줄을 복사하여 붙여넣을 수 있습니다. -->
                    </ul>
                </div>

                <div class="section">
                    <div class="section-header">언어 능력</div>
                    <ul>
                        <li>[언어 1] - [능력 수준]</li>
                        <li>[언어 2] - [능력 수준]</li>
                        <li>[언어 3] - [능력 수준]</li>
                        <!-- 추가 언어 능력을 위해 위의 줄을 복사하여 붙여넣을 수 있습니다. -->
                    </ul>
                </div>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  좋아요</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  저장</button>
            </div>

            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Contact!</p>
                    <p id="myText"><strong>372491@naver.com</strong></p>
                    <p>아래 버튼을 누르면 이메일이 복사됩니다</p>
                    <button class="w3-button w3-block w3-green w3-section" onclick="copyToClipboard()">복사하기</button>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>친구 신청</p>
                    <img src="/img/리락쿠마.png" alt="Avatar" style="width:50%"><br>
                    <div class="w3-row w3-opacity">
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                        </div>
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                <div class="w3-container">
                    <button class="w3-button w3-block w3-green w3-section" title="Accept" onclick="goToGuestPage()">방명록 작성하기</button>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
    <!--    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
</footer>

<script>

    document.getElementById("convert-to-pdf").addEventListener("click", function () {
        const resumeElement = document.getElementById("resume-pdf");
        const pdfOptions = {
            margin: 10,
            filename: '이력서.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        html2pdf().from(resumeElement).set(pdfOptions).outputPdf(function (pdf) {
            const blob = new Blob([pdf], { type: 'application/pdf' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = '이력서.pdf';
            a.click();
            URL.revokeObjectURL(url);
        });
    });

    function goToLink() {
        window.open("https://www.naver.com/", "_blank");
    }

    function goToGuestPage() {
        window.open("guest", "_blank");
    }

    function copyToClipboard() {
        const textToCopy = document.getElementById('myText').innerText;

        try {
            navigator.clipboard.writeText(textToCopy);
            alert('복사되었습니다.');
        } catch (err) {
            console.error('복사 오류:', err);
            alert('복사 오류가 발생했습니다.');
        }
    }


    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
